<style type="text/css">
		.reveal h1 { font-size: 1.5em; }
		.reveal h2 { font-size: 1em; }
		body { font-size: 1em;
			background-color: #E5E4E2; }
		.reveal blockquote { font-size: 1em; }

 		.reveal .slides img{border-style: none;}

 /*.slides img{border:0; opacity:0;}*/

</style>
